.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(155, 155, 155, 0.5);
}
.modal-window {
  width: 600px;
  border-right: 5px;
  background-color: #fff;
  height: 200px;
  margin: 100px auto;
}
