.v-modal.open .v-modal__overlay,
.v-modal.open .v-modal__window {
  opacity: 1;
  z-index: 100;
}

.v-modal.open .v-modal__window {
  transform: translateY(100px);
}

.v-modal.open .v-modal__overlay {
  background-color: rgba(155, 155, 155, 0.5);
}

.v-modal.hidden .v-modal__window {
  transition: transform 0.2s ease-in;
}

.v-modal.hidden .v-modal__overlay {
  transition: background-color 0.2s ease-in;
}

.v-modal__window,
.v-modal__overlay {
  opacity: 0;
  z-index: -1;
}

.v-modal__overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(155, 155, 155, 0);
  transition: background-color 0.2s ease-in;
}
.v-modal__window {
  width: 600px;
  border-right: 5px;
  background-color: #fff;
  height: 200px;
  margin: 0 auto;
  transform: translateY(-200px);
  transition: transform 200ms ease-in;
}

.v-modal__header {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

.v-modal__title {
  font-size: 1.5rem;
}

.v-modal__close {
  cursor: pointer;
}

.v-modal__body {
  padding: 10px;
}

.v-modal__footer {
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.v-modal__footer .btn {
  margin: 0;
  width: 25%;
}
